<!DOCTYPE html>
<html>
    <head>
        <title>Experiment</title>
        <script language="javascript" src="libraries/p5.min.js"></script>
        <script language="javascript" src="libraries/p5.dom.min.js"></script>
        <script language="javascript" src="libraries/d3.min.js"></script>
        <script language="javascript" src="libraries/lodash.min.js"></script>
        <script language="javascript" src="libraries/jquery-3.4.1.min.js"></script>
        <script language="javascript" src="jspsych/jspsych.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-external-html.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-2afc-p5.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-instructions.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-survey-text.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-survey-likert-customized.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-survey-multi-choice.js"></script>
        <link href="jspsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <link href="css/experiment.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
    </body>
    <script>


    var input_data = <%- input_data %>
    var trial_id = input_data.trial_id
    var cmpltnCd = makeCode(3)+'RtR' + makeCode(5) + '4z4'
    jsPsych.data.addProperties({cmpltnCd: cmpltnCd,
                                trial_id: trial_id});

    var data = {};
    var timeline = [];
    var experiment_start_time;
    var save_attempts = 0;
    var saveTimeout = 1000;
    var cmpltnCdEnd;
    var dataUrl = '/data?trial_id=' + trial_id;

    // colors

    var tv_backgrounds =  [
      // 5 contrasts
      [[240, 25, 75], [245, 150, 60], [60, 180, 75], [0, 130, 200], [145, 30, 180]],
      [[215, 0, 30],[255, 225, 25],[210, 245, 60],[70, 240, 240],[245, 70, 245]],
      [[255, 170, 150],[250, 250, 170],[170, 250, 170],[170, 170, 250],[250, 170, 240]],
      // 4 contrasts
      [[255, 225, 25],[210, 245, 60],[70, 240, 240],[240, 50, 230]],
      [[245, 130, 48],[60, 180, 75],[0, 130, 200],[145, 30, 180]],
      // 3 contrasts
      [[150, 0, 0],[0, 150, 0],[0, 0, 150]]
    ]

    var skin_colors = [
      [255, 229, 200],
      [255, 218, 190],
      [255, 206, 180],
      [240, 184, 160],
      [225, 172, 150],
      [210, 161, 140],
      [180, 138, 120],
      [150, 115, 100],
      [120, 92, 80],
      [90, 69, 60],
    ]

    // #https://sashat.me/2017/01/11/list-of-20-simple-distinct-colors/
    var shirt_colors = [[230, 25, 75], [60, 180, 75], [225, 225, 25], [67, 99, 216], [245, 130, 49],
    [145, 30, 180], [70, 240, 240], [240, 50, 230], [188, 246, 12], [250, 190, 190], [0, 128, 128], [230,190, 255],
    [154, 99, 36], [255, 250, 200], [128, 0, 0], [170, 255, 195], [128, 128, 0], [255, 216, 177], [0, 0, 117],
    [128, 128, 128], [255, 255, 255], [0, 0, 0]];

    // consent

    var consent = {
      type: 'external-html',
      url: '../views/consent.html',
      check_fn: function(){
        experiment_start_time = Date.now();
        return true;
      },
      cont_btn: 'consent'
    }

    // english

    var english_instructions = {
      type: 'instructions',
      pages: ['In this study, you will be doing two main tasks. In the first task, you\'ll be rating sentences according to whether they are good English or not.<br><br>' +
      'For each sentence, just click "yes" if you think it is good English and "no" if you think it is not.'],
      show_clickable_nav: true,
    }

    var english_options = ['no', 'yes'];
    var questions_eng = [{name: 0, prompt: "Athletes often need to warm up.", options: english_options, horizontal: true, required: true},
      {name: 1, prompt: "I just saw a moose running down the road!", options: english_options, horizontal: true, required: true},
      {name: 2, prompt: "John ill felt and went doctor.", options: english_options, horizontal: true, required: true},
      {name: 3, prompt: "Could you the books put in that boxes?", options: english_options, horizontal: true, required: true},
      {name: 4, prompt: "I am forget do my homeworks.", options: english_options, horizontal: true, required: true},
      {name: 5, prompt: "She think English is more easier to learn.", options: english_options, horizontal: true, required: true},
      {name: 6, prompt: "Tommorow will be thatier than today.", options: english_options, horizontal: true, required: true},
      {name: 7, prompt: "The building is very murnley.", options: english_options, horizontal: true, required: true},
      {name: 8, prompt: "Where is the pen that I gave it to you yesterday?", options: english_options, horizontal: true, required: true},
      {name: 9, prompt: "He was pulled over by the police for driving 120 miles per hour.", options: english_options, horizontal: true, required: true},
    ]
    questions_eng_shuffled = jsPsych.randomization.repeat(questions_eng, 1);

    var english = {
      type: 'survey-multi-choice',
      questions: questions_eng_shuffled,
      preamble: 'Are the following sentences good English ("yes") or not ("no")?',
    };


    // practice trials
    // ! do some !

    // main trials
    var tv_factors = {
      gender: ['male', 'female'],
      channel: _.range(10)};
    var tv_channels_all = _.map(jsPsych.randomization.factorial(tv_factors, 1), function(obj){
      return obj.gender+obj.channel
    });
    var contrasts = [[5, 3], [5, 2], [5,1], [4, 2], [4, 1], [3, 1]];
    var contrasts_timeline = _.map(contrasts, function(contrast, i){
      var channels_sample = jsPsych.randomization.sampleWithoutReplacement(tv_channels_all, contrast[0]);
      return {contrasts: contrast,
              tv_background: tv_backgrounds[i],
              tv_channels: channels_sample};
    })
    var contrasts_timeline_shuffled = jsPsych.randomization.shuffle(contrasts_timeline);


    var sources_trial = {
      type: '2afc-p5',
      skin_colors: jsPsych.randomization.sampleWithoutReplacement(skin_colors, 5),
      shirt_colors: jsPsych.randomization.sampleWithoutReplacement(shirt_colors, 10),
      timeline: contrasts_timeline_shuffled
    }


    // bio


    // feedback

    // timeline

    // timeline.push(consent);
    // timeline.push(english_instructions);
    // timeline.push(english);
    //

    timeline.push(sources_trial)

    jsPsych.init({
        // preload_images: landscapes_shuffled.concat(animalImgs),
        default_iti: 500,
        show_progress_bar: true,
        // exclusions: {
        //   min_width: 800,
        //   min_height: 500
        // },
        timeline: timeline,
        on_finish: function(){
          save();
        }
    });

    function save(){
      if(save_attempts==0){
        var experiment_end_time = Date.now();
        var duration = experiment_end_time - experiment_start_time;
        var interactionData = jsPsych.data.getInteractionData().json();
        jsPsych.data.get().addToLast({duration: duration,
                                      interactionData: interactionData,
                                    });
        data.responses = jsPsych.data.get().json();
        data.trial_id = trial_id;
        data.cmpltnCd = cmpltnCd;
        cmpltnCdEnd = cmpltnCd + trial_id;
        console.log('    About to post survey output data...', data);
      }
      dataJSON = JSON.stringify(data);

      $.ajax({
         type: 'POST',
         url: dataUrl,
         data: dataJSON,
         contentType: "application/json",
         timeout: 3000,
         success: function(request, status, error){
           finish(cmpltnCdEnd+'_'+save_attempts)
         },
         error: function(request, status){
           $('#jspsych-content').html("Please wait a few seconds while we save your responses...")
           console.log('    Error posting data...', request, status)
           if ( save_attempts < 5) {
             save_attempts += 1;
             saveTimeout += 500;
             console.log("Trying again, attempt ", save_attempts)
             setTimeout(function () {
                save();
                }, saveTimeout)
           } else {
             finish(cmpltnCdEnd+'_'+save_attempts);
           }
         }
       });
    }

    function finish(cmpltnCd){
      if(trial_id=='test'){
        window.location.href = '/finish_demo'
      } else {
        window.location.href = "/finish?token="+cmpltnCd;
      }

    }

    function makeCode(len){
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYabcdefghijklmnopqrstuvwxy0123456789";
      for( var i=0; i < len; i++ ){
        text += possible.charAt(Math.floor(Math.random() * possible.length));
      }
      return text;
    };

    </script>
</html>
