<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <h2>Completed</h2>
    <p>
      The demonstration experiment is over. We have removed the debrief and contact information for reasons of anonymity, while our submission is under review. No data has been saved. You may close this window.
    </p>
  </body>
</html>
